*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, 游ゴシック体, YuGothic, "游ゴシック Medium", YuGothic, YuGothicM, 游ゴシック, "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", Verdana, メイリオ, Meiryo, sans-serif;
    color: rgb(37, 30, 28);
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.1em;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
}

@media only screen and (max-width: 1068px){
    .container{
        flex-direction: column;
    }
}

.carousel-container{
    width: 60%;
    height: 35vw;
    overflow: hidden;
}

@media only screen and (max-width: 1068px){
    .carousel-container{
        width: 100%;
    }
}

.carousel-slider{
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}

.carousel-slider img{
    width: 100%;
    height: 100%;
}



.yellow-service{
    width: 40%;
    height: 35vw;
    background-color: #ECE053;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 5% 3% 4%;
}

@media only screen and (max-width: 1068px){
    .yellow-service{
        width: 100%;
    }
}

.yellow-title{
    margin-bottom: 15px;
    padding-bottom: 25px;
    font-size: 55px;
    font-family: rgb(37, 30, 28);
    line-height: 1;
    letter-spacing: 0;
    position: relative;
    font-weight: 500;
    font-family: brandon-grotesque, sans-serif;
}

@media only screen and (max-width: 1068px){
    .yellow-title{
        width: 100%;
        text-align: center;
    }
}

.yellow-title::before{
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background: #251E1C;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 1068px){
    .yellow-title::before{
        left: 50%;
        transform: translateX(-50%);
    }
}

.service-type-container{
    position: relative;
    height: 120px;
}

@media only screen and (max-width: 1068px){
    .service-type-container{
        width: 100%;
    }
}

.service-type{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
}

@media only screen and (max-width: 1068px){
    .service-type{
        width: 100%;
    }
}

.service-type h3{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
}

.service-type p{
    margin-bottom: 30px;
    font-size: 14px;
}

@media only screen and (max-width: 1068px){
    .service-type h3, .service-type p{
        width: 100%;
        text-align: center;
    }
}

.more-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    padding: 25px 0;
    color: #fff;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    background: #251E1C;
    line-height: 1;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,.16);
    transition: all 0.3s;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border: 1px solid #251E1C;
}

@media only screen and (max-width: 1068px){
    .more-button{
        width: 90%;
        margin: auto;
    }
}

.more-button:hover{
    background: #fff;
    color: #251E1C;
}