.container{
    width: 100vw;
    height: 40vw;
    border: 1px solid red;
}

.slide_container{
    width: 65%;
    height: 100%;
    border: 1px solid blue;
    display: flex;
}

.slide_container img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.slide_container:first-child{
    margin-left: 0px;
}