body{
    font-family: "Noto Sans JP", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", Meiryo, verdana, Osaka, "MS PGothic", sans-serif;
}


.contact-title{
    padding: 50px 0;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.contact-top{
    text-align: center;
    font-weight: bold;
    color: rgb(27, 161, 230);
    font: 1.5em;
}

.contact-bottom{
    font-size: 1.5rem;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.15em;
}

@media only screen and (max-width: 767px){
    .contact-bottom{
        font-size: 1.3rem;
    }
}


.ftr-consul-book-container{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

@media only screen and (max-width: 968px){
    .ftr-consul-book-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.ftr-consul, .ftr-book{
    text-decoration: none;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    color: #fff;
    opacity: 1;
    transition: all 0.3s;
    cursor: pointer;
}

@media only screen and (max-width: 968px){
    .ftr-consul, .ftr-book{
        width: 96%;
    }
}

.ftr-consul{
    background-color: #1ba1e6;
}

.ftr-consul:hover{
    opacity: 0.6;
}

@media only screen and (max-width: 968px){
    .ftr-consul{
        margin-bottom: 1em;
    }
}

.ftr-book{
    background-color: #82c7e6;
}

.ftr-book:hover{
    opacity: 0.6;
}

.ftr-consul img, .ftr-book img{
    width: 32px;
    margin-bottom: 5px;
}

.ftr-consul-str, .ftr-book-str{
    font-size: 1.4em;
    line-height: 1;
}

@media only screen and (max-width: 767px){
    .ftr-consul-str, .ftr-book-str{
        font-size: 1.2rem;
    }
}



.page-bottom{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 50px 0;
}

.page-bottom-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

@media only screen and (max-width: 968px){
    .page-bottom-top{
        flex-direction: column;
        align-items: center;
    }
}

.bottom-info{
    width: 45%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 968px){
    .bottom-info{
        margin-bottom: 30px;
        width: 96%;
    }
}

.bottom-logo{
    width: 30%;
}

@media only screen and (max-width: 968px){
    .bottom-logo{
        width: 20%;
    }
}

.bottom-logo img{
    width: 100%;
}

.bottom-general-info{
    width: 63%;
    box-sizing: border-box;
}

@media only screen and (max-width: 767px){
    .bottom-general-info{
        width: 75%;
    }
}

.bottom-general-info dt{
    margin-bottom: 1em;
}

.bottom-general-info dt img{
    width: 100%;
}

@media only screen and (max-width: 968px){
    .bottom-general-info dt img{
        width: 80%;
    }
}

.bottom-address{
    margin-bottom: 1em;
    font-size: 0.9rem;
    line-height: 2;
}

.bottom-tel{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bottom-tel img{
    width: 18px;
    margin-right: 8px;
}

.bottom-tel span{
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    letter-spacing: 0.1em;
    font-size: 1.8rem;
}

@media only screen and (max-width: 767px){
    .bottom-tel span{
        font-size: 1.6rem;
    }
}

dd{
    margin-left: 0;
}




.bottom-calender{
    width: 46%;
}

@media only screen and (max-width: 968px){
    .bottom-calender{
        width: 96%;
    }
}

.map-calender-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.map, .off-calender{
    display: block;
    text-decoration: none;
    width: 48%;
    box-sizing: border-box;
    border: 1px solid #1ba1e6;
    color: #1ba1e6;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    transition: all 0.3s;
}

@media only screen and (max-width: 767px){
    .map, .off-calender{
        padding: 8px 8px;
        font-size: 14px;
        line-height: 1.8;
    }
}


.map:hover, .off-calender:hover{
    opacity: 0.7;
}

.bottom-calender-small{
    width: 100%;
    margin-bottom: 1em;
}

.open-time{
    width: 8em;
    padding-left: 0;
    text-align: left;
}

td, th{
    padding: 10px;
    border-right: 1px solid #E1E5E7;
    text-align: center;
}




.page-bottom-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 968px){
    .page-bottom-bottom{
        display: block;
        position: relative;
        height: 70px;
    }
}

@media only screen and (max-width: 767px){
    .page-bottom-bottom{
        margin-top: 30px;
        width: 96%;
        margin: auto;
    }
}

.copyright{
    font-size: 0.8rem;
    line-height: 2;
}

@media only screen and (max-width: 968px){
    .ftr-links-ul{
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .copyright{
        position: absolute;
        bottom: 0;
        margin-top: 1em;
        width: 100%;
        text-align: center;
    }
}

.ftr-links-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.ftr-links-a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    padding: 0 10px;
    border-right: 1px solid #444;
    color: #444;
    transition: all 0.3s;
}

.ftr-links-a:hover{
    opacity: 0.7;
}

.ftr-links-a.second{
    border: none;
}