body{
    font-family: 'Noto Sans JP', "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro",  "Meiryo", verdana, "Osaka", "MS PGothic", Sans-Serif;
}





.pc_header{
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

@media only screen and (max-width: 767px){
    .pc_header{
        display: none;
    }
}

.logo_a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 200px;
    background-color: #fff;
}

.logo_a img{
    width: 100px;
}





.header_right{
    flex: 1;
    padding-right: 80px;
}

.header_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.sub_name{
    font-size: 0.8rem;
}

.header_top_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_top_li{
    margin-left: 40px;
    line-height: 2;
}

.header_top_a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header_top_a img{
    width: 16px;
    margin-right: 8px;
}

.tel_num{
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    color: #444444;
}

.access{
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    color: #444444;
}






.header_nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_nav_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header_nav_li{
    padding-bottom: 20px;
    padding-top: 20px;
}

.header_nav_a{
    padding: 0 10px;
    text-decoration: none;
    color: #444;
    border-left: 1px solid #c7c7c7;
    font-size: 16px;
}

.header_nav_li:hover .dropdown{
    display: block;
}

.header_nav_a.first{
    border: none;
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 90%;
    color: #fff;
    background: rgba(27, 161, 230, 0.9);
    padding: 30px 20px;
}

.dropdown a{
    text-decoration: none;
    color: #fff;
}

.sub_ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sub_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    padding: 10px 5px;
}

.sub_arrow{
    width: 12px;
    height: 12px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
}






.sp_header{
    display: none;
}

@media only screen and (max-width: 767px){
    .sp_header{
        display: block;
    }
}

.sp_header_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.sp_header_top_left{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sp_top_logo{
    width: 40px;
}

.sp_header_top_right{
    display: flex;
    text-decoration: none;
}

.sp_top_right_square{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.sp_top_right_square img{
    width: 14px;
    height: 14px;
}

.sp_top_right_square span{
    color: #1ba1e6;
    font-size: 0.8rem;
}




.sp_header_bottom{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.consul_book_container{
    flex: 1;
    display: flex;
}

.bottom_button{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.bottom_button.consultation{
    background: #1ba1e6;
}

.bottom_button.booking{
    background: #82c7e6;
}

.bottom_button img{
    width: 32px;
    height: 32px;
}

.bottom_button span{
    font-size: 14px;
}

.burger{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.burger_border{
    height: 2px;
    background: #1ba1e6;
    width: 30px;
    margin-bottom: 8px;
}

.burger_border.bottom{
    margin: 0;
}




.slide_menu{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;/*100%*/
    width: 100%;
    background: #1ba1e6;
}

.slide_content_container{
    margin: 20px 20px 0;
}

.slide_logo{
    width: 80%;
    margin-bottom: 20px;
}

.slide_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slide_li{
    border-bottom: 1px solid #49b4eb;
}

.main_li{
    display: flex;
    align-items: center;
}

.slide_a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 10px 0;
    flex: 1;
}

.show_hidden_submenu, .hide_shown_submenu{
    width: 30px;
    height: 30px;
}

.hide_shown_submenu{
    display: none;
}

.hidden_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.1);
    display: none;
}

.hidden_a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    font-size: 1.1rem;
    display: block;
    width: 100%;
}

.close_slide{
    position: absolute;
    width: 20px;
    right: 20px;
    bottom: 20px;
}