body{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, 游ゴシック体, YuGothic, "游ゴシック Medium", YuGothic, YuGothicM, 游ゴシック, "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", Verdana, メイリオ, Meiryo, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 40vh;
    min-height: 400px;
    background: no-repeat url(https://source.unsplash.com/random/1000x400);
    background-size: 100% 100%;
    color: #fff;
}

.top{
    font-size: 49px;
    font-weight: 600;
    font-family: toppan-bunkyu-gothic-pr6n, serif;
    margin-bottom: 20px;
}

@media only screen and (max-width: 735px){
    .top{
        font-size: 30px;
    }
}

@media only screen and (max-width: 576px){
    .top{
        font-size: 22px;
    }
}

.middle{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

@media only screen and (max-width: 500px){
    .middle{
        flex-direction: column;
    }
}

.number{
    font-size: 61px;
    font-family: korolev-condensed, sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1;
}

@media only screen and (max-width: 768px){
    .number{
        font-size: 45px;
    }
}

@media only screen and (max-width: 576px){
    .number{
        font-size: 42px;
    }
}

.open{
    margin-left: 20px;
}

@media only screen and (max-width: 500px){
    .open{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.open_top{
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 10px;
}

@media only screen and (max-width: 500px){
    .open_top{
        margin-bottom: 0;
        margin-right: 10px;
    }
}

.open_bottom{
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0;
}

@media only screen and (max-width: 768px){
    .open_top, .open_bottom{
        font-size: 13px;
    }
}

.bottom{
    display: flex;
}

@media only screen and (max-width: 735px){
    .bottom{
        flex-direction: column;
    }
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 304px;
    height: 80px;
    border-radius: 40px;
    background: #251E1C;
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

@media only screen and (max-width: 735px){
    .button{
        margin-bottom: 15px;
        width: 225px;
        height: 49px;
    }
}

.button.right{
    background: #ECE053;
    color: #251e1c;
    margin: 0;
}

.button_title{
    margin-bottom: 7px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1;
}

.button_detail{
    font-size: 14px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1;
}

@media only screen and (max-width: 735px){
    .button_title{
        font-size: 17px;
    }

    .button_detail{
        font-size: 9px;
    }
}